.v-slide-group-item--active {
  background-color: white;
}

/*
override odd behavior of leaflet tooltips
when <LTooltip> is present, the <LCircleMarker>
element receives outline-style: auto on click
*/
path.leaflet-interactive {
  outline-style: none !important;
}

.leaflet-control-layers-separator {
  display: none;
}

.leaflet-control-layers-overlays {
  display: none;
}

.font-size-larger {
  font-size: larger;
}

.prep-splash {
  height: calc(100vh - 64px);
}

.prep-splash > img {
  object-position: top;
}

.prep-hero {
  background-color: rgba(255, 255, 255, 0.8) !important;
  overflow-y: auto;
  max-height: calc(100vh - 100px - 64px);
}

/* fix position of date range input */
.highcharts-range-selector {
  top: 35px !important;
}

/* expansion panels for user-guide */
.v-expansion-panel-title {
  font-size: 1.5rem !important;
  line-height: 1.9rem !important;
}

.v-expansion-panel-text__wrapper {
  font-size: 1.2rem !important;
  line-height: 1.8rem !important;
}
